:root{
    --caption: #f3f3f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova", serif;
}

.header{
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
}

.head{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo{
    width: 70px;
}

.nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li{
    margin-left: 20px;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 0;
}

.nav li a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #727272;
    position: relative;
    transition: .2s ease-in;
}

.nav li a:hover{
    color: #df2a2a;
}

.nav li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 100px;
    background-color: #df2a2a;
    transition: .1s ease-in;
}

.nav li a:hover::after{
    left: 0px;
}

.slider{
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(150deg, white, transparent 55%), url(./images/shopping-woman/vecteezy_ai-generated-a-black-woman-shopping-at-healthy-food-market_36792317.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.slide{
    display: flex;
    max-height: 100svh;
}

.caption{
    height: 100vh;
    color: var(--caption);
    padding-left: 15%;
    padding-top: 10%;
}

.caption h1{
    font-size: clamp(1.2rem, 4vw, 3rem);
    text-shadow: -3px 3px 3px black;
    padding-bottom: .5em;
    max-width: 553px;
    position: relative;
    margin-bottom: 0.5em;
    border-bottom: #da5858 solid 3px;

}

.caption h1 span{
    color: #da5858;
    text-transform:uppercase;
}

.caption h4{
    font-size: clamp(.8rem, 4vw, 2rem);
    text-shadow: -3px 3px 3px black;
}

.caption input{
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    font-weight: 700;
    color: var(--caption);
    background-color: #da5858;
    margin-top: 1em;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in;
}

.caption input:hover{
    color: #df2a2a;
    background-color: var(--caption);
}

.introduction{
    width: 100%;
    height: 100svh;
    display: flex;
    /* margin-bottom: 5em; */
}

.intro.part-1{
    flex: 2;
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/blue-building/pexels-pixabay-208560.jpg);
    background-size: cover;
    background-position: center;
}

.intro .explainer{
    position: absolute;
    bottom: 3em;
    right: 0;
    display: flex;
    gap: 2em;
}

.intro .explainer p{
    font-family: roboto;
    color: var(--caption);
    text-shadow: -1px 1px 1px black;
    font-weight: 600;
    letter-spacing: .07rem;
    width: 300px;
    height: 200px;
    text-align: left;
    display: flex;
    align-items: center;
}

.intro .explainer p:nth-child(1){
    background-image: linear-gradient(30deg, rgba(255, 51, 0, 0.603),rgba(255, 0, 0, 0.61)), url(./images/business-man/pexels-reneasmussen-2505026.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
}

.intro .explainer p:nth-child(2){
    background-image: linear-gradient(30deg, rgba(255, 51, 0, 0.603),rgba(255, 0, 0, 0.61)), url(./images/couple/vecteezy_romantic-happy-young-couple-relax-at-modern-home-indoors_12140531.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
}

.part-2{
    flex: 1;
    padding: 4em 3em 0 2em ;
    border-top: 3px solid #da5858;
    position: relative;
    color: #727272;
    text-align: justify;
}

.card{
    position: absolute;
    bottom: 3em;
    left: 2em;
    display: flex;
    width: 300px;
    height: 200px;
    font-family: roboto;
    color: var(--caption);
    text-shadow: -1px 1px 1px black;
    font-weight: 600;
    letter-spacing: .07rem;
    background-image: linear-gradient(rgba(255, 51, 0, 0.603),rgba(255, 0, 0, 0.61)), url(./images/blue-building/pexels-pixabay-208560.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
    display: flex;
    align-items: center;
    
}

.welcome{
    margin-bottom: .5em;
    color: #da5858;
    font-size: clamp(1.2rem, 4vw, 3rem);
}

.sub-heading{
    margin-bottom: 1em;
}

.about{
    margin-bottom: 2em;
}

.apply{
    cursor: pointer;
    border: none;
    outline: none;
    color: #727272;
    font-family: roboto;
    background-color: transparent;
    transition: .1s ease-in;
}

.apply:hover{
    color: #da5858;
}

.fa-arrow-turn-up{
    transform: rotate(90deg);
    margin-left: .5em;
}

.qualify{
    width: 100%;
    height: fit-content;
    background-color: #dfdfdf5b;
    padding: 3em 20em;
    
}

.qualification{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-items: center;
}

.qualify h2{
    padding-top: 1em;
    text-align: center;
    color: #727272;
    margin-bottom: 2em;
}

.explain{
    padding: 2em;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #727272;
    position: relative;
}

.explain::before{
    content: "";
    width: 2px;
    height: 50px;
    background-color: #727272;
    left: 0;
    top: 15px;
    position: absolute;
}

.explain::after{
    content: "";
    height: 2px;
    width: 50px;
    background-color: #727272;
    left: 0;
    top: 15px;
    position: absolute;
}

.expl-icon{
    font-size: 2em;
    margin-bottom: .3em;
}

.explain p{
    font-weight: 500;
    flex-basis: 1;
}

.documentation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.required-docs{
    flex: 1;
    padding: 0 0 3em 5em;
    color: #727272;
}

.doc-image{
    width: 100%;
    height: 70vh;
    flex: 2;
    background-image: url(./images/meeting/vecteezy_three-business-people-sitting-at-a-table-with-a-laptop_32974774.jpeg);
    background-size: cover;
    background-position: center;
}

.required-docs h1{
    font-size: clamp(1.2rem, 4vw, 3rem);
    color: #da5858;
    margin-bottom: .5em;
}

.required-docs h4{
    /* font-size: clamp(.8rem, 4vw, 2rem); */
    margin-bottom: 1em;
}

.required-docs ul{
    list-style-type: none;
}

.required-docs ul li i{
    font-size: 13px;
    margin-right: 10px;
}

.required-docs ul li{
    padding: 1em;
}

.required-docs ul li:hover{
    background-color: #da5858;
    color: var(--caption);
    transition: .1s ease-in;
    position: relative;
}

.required-docs ul li:nth-child(1):after{
    content: "SA ID Book or Card";
    position: absolute;
    right: -200px;
    bottom: -150px;
    width: 200px;
    height: 201px;
    background-color: #da5858;
    color: var(--caption);
    display: flex;
    justify-content: center;
    align-items: center;
}

.required-docs ul li:nth-child(2):after{
    content: "Latest Payslip";
    position: absolute;
    right: -200px;
    bottom: -99px;
    width: 200px;
    height: 201px;
    background-color: #da5858;
    color: var(--caption);
    display: flex;
    justify-content: center;
    align-items: center;
}

.required-docs ul li:nth-child(3):after{
    content: "Bank Statement";
    position: absolute;
    right: -200px;
    bottom: -48px;
    width: 200px;
    height: 201px;
    background-color: #da5858;
    color: var(--caption);
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-check{
    padding: 3em 2em;
    background-color: #4b4747;
    color: var(--caption);
}

.procedure{
    padding: 3em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.steps{
    color: #727272;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.steps.follow{
    display: flex;
    flex-direction: column;
}

.steps.follow h2{
    color: #da5858;
    margin-bottom: .5em;
}

.steps.follow p{
    font-weight: 600;
    margin-bottom: 1em;
}

.steps h2{
    color: #da5858;
    font-size: clamp(1.2rem, 4vw, 3rem);
}

.steps.one p,
.steps.two p,
.steps.three p{
    margin-left: 1em;
    position: relative;
    flex-grow: 1;
}

.steps.one p::after,
.steps.two p::after,
.steps.three p::after{
    content: "";
    position: absolute;
    background-color: #da5858;
    width: 10px;
    height: 30px;
    right: -20px;
    top: 0;
}

.testimonial-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials{
    text-align: center;
    margin: 3em auto;
}

.testimonials h1{
    color: #da5858;
    font-size: clamp(1.2rem, 4vw, 3rem);
    margin-bottom: 1em;
}

.testimonial{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    margin: 0 1em;
    background-color: #da5858;
    border-radius: 20px;
    color: var(--caption);
}

.image{
    width: 200px;
    height: 150px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: 1em;
    position: relative;
}

.testimonial img{
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
}

.testimonial h4{
    margin-bottom: 1em;
}

.testimonial p{
    text-align: center;
    padding: 0 0 2em 0;
}