:root{
    --caption: #f3f3f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova", serif;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
}

.head{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo{
    width: 70px;
}

.nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li{
    margin-left: 20px;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 0;
}

.nav li a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #727272;
    position: relative;
    transition: .2s ease-in;
}

.nav li a:hover{
    color: #df2a2a;
}

.nav li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 100px;
    background-color: #df2a2a;
    transition: .1s ease-in;
}

.nav li a:hover::after{
    left: 0px;
}

.slider{
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(150deg, white, transparent 55%), url(./images/shopping-woman/vecteezy_ai-generated-a-black-woman-shopping-at-healthy-food-market_36792317.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.slide{
    display: flex;
    max-height: 100svh;
}

.caption{
    height: 100vh;
    color: var(--caption);
    padding-left: 15%;
    padding-top: 10%;
}

.caption h1{
    font-size: clamp(1.2rem, 4vw, 3rem);
    text-shadow: -2px 2px 3px black;
    padding-bottom: .5em;
    max-width: 553px;
    position: relative;
    margin-bottom: 0.5em;
    border-bottom: #da5858 solid 3px;

}

.caption h1 span{
    color: #da5858;
    text-transform:uppercase;
}

.caption h4{
    font-size: clamp(.8rem, 4vw, 2rem);
    text-shadow: -2px 2px 3px black;
}

.caption input{
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-weight: 700;
    color: var(--caption);
    background-color: #da5858;
    margin-top: 1em;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in;
}

.caption input:hover{
    color: #df2a2a;
    background-color: var(--caption);
}

.introduction{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: start;
}

.blue-building{
    width: 100%;
    height: 100vh;
    flex: 2;
    background-image: url(./images/blue-building/pexels-pixabay-208560.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
    padding: 0 2em;
    margin-top: 10em;
    position: relative;
    color: #727272;
}

.intro h2{
    font-size: clamp(1.2rem, 4vw, 3rem);
    color: #da5858;
}

.apply{
    cursor: pointer;
    border: none;
    outline: none;
    color: #727272;
    font-weight: 600;
    font-family: roboto;
    background-color: transparent;
    transition: .1s ease-in;
}

.fa-arrow-turn-up{
    transform: rotate(90deg);
    margin-left: .5em;
    color: #727272;
}

.apply:hover,
.fa-arrow-turn-up:hover{
    color: #da5858;
}

.explainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    position: absolute;
    left: -695px;
    bottom: -250px;
}

.explainer p{
    width: 300px;
    height: 200px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.explainer p:hover{
    color: var(--caption);
}

.explainer p:nth-child(1){
    background-image: linear-gradient(30deg, rgba(212, 212, 212, 0.1), rgba(212, 212, 212, 0.1)), url(./images/business-man/pexels-reneasmussen-2505026.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.explainer p:nth-child(1)::before{
    content: "Pay-Day Loans";
    position: absolute;
    color: #da5858;
    font-size: 2rem;
    text-shadow: -1px 1px 2px black;
    font-weight: 700;
}

.explainer p:nth-child(2){
    background-image: linear-gradient(30deg, rgba(212, 212, 212, 0.1), rgba(212, 212, 212, 0.1)), url(./images/couple/vecteezy_romantic-happy-young-couple-relax-at-modern-home-indoors_12140531.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.explainer p:nth-child(2)::before{
    content: "Our Clients";
    position: absolute;
    color: #da5858;
    font-size: 2rem;
    text-shadow: -1px 1px 2px black;
    font-weight: 700;
}

.explainer p:nth-child(3){
    background-image: linear-gradient(30deg, rgba(212, 212, 212, 0.1), rgba(212, 212, 212, 0.1)), url(./images/house/pexels-binyaminmellish-106399.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    position: relative; 
}

.explainer p:nth-child(3)::before{
    content: "Industry Experts";
    position: absolute;
    color: #da5858;
    font-size: 2rem;
    text-shadow: -1px 1px 2px black;
    font-weight: 700;
}

.explainer p:nth-child(1):hover{
    background-image: linear-gradient(30deg, #da5858, #da5858);
}

.explainer p:nth-child(1):hover::before{
    content: "";
}

.explainer p:nth-child(2):hover{
    background-image: linear-gradient(30deg, #da5858, #da5858);
}

.explainer p:nth-child(2):hover::before{
    content: "";
}

.explainer p:nth-child(3):hover{
    background-image: linear-gradient(30deg, #da5858, #da5858);
}

.explainer p:nth-child(3):hover::before{
    content: "";
}

.qualify{
    width: 100%;
    height: fit-content;
    background-color: #e9e9e95b;
    padding: 3em 20em;
}

.qualification{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-items: center;
}

.qualify h1{
    padding-top: .5em;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-transform: capitalize;
    color: #727272;
    margin-bottom: 1em;
}

.explain{
    padding: 2em;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #727272;
    position: relative;
}

.explain::before{
    content: "";
    width: 2px;
    height: 50px;
    background-color: #727272;
    left: 0;
    top: 15px;
    position: absolute;
}

.explain::after{
    content: "";
    height: 2px;
    width: 50px;
    background-color: #727272;
    left: 0;
    top: 15px;
    position: absolute;
}

.expl-icon{
    font-size: 2em;
    margin-bottom: .3em;
}

.explain p{
    font-weight: 500;
    flex-basis: 1;
}

.documentation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.required-docs{
    flex: 1;
    padding: 0 0 3em 5em;
    color: #727272;
}

.doc-image{
    width: 100%;
    height: 70vh;
    flex: 2;
    background-image: url(./images/meeting/vecteezy_three-business-people-sitting-at-a-table-with-a-laptop_32974774.jpeg);
    background-size: cover;
    background-position: center;
}

.required-docs h1{
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #da5858;
    margin-bottom: .5em;
}

.required-docs h4{
    margin-bottom: 1em;
}

.required-docs ul{
    list-style-type: none;
}

.required-docs ul li i{
    font-size: 13px;
    margin-right: 10px;
}

.required-docs ul li{
    padding: 1em;
}

.required-docs ul li:hover{
    background-color: #da5858;
    color: var(--caption);
    transition: .1s ease-in;
    position: relative;
}

.required-docs ul li:nth-child(1):after{
    content: "SA ID Book or Card";
    position: absolute;
    right: -200px;
    bottom: -150px;
    width: 200px;
    height: 201px;
    background-color: #da5858;
    color: var(--caption);
    display: flex;
    justify-content: center;
    align-items: center;
}

.required-docs ul li:nth-child(2):after{
    content: "Latest Payslip";
    position: absolute;
    right: -200px;
    bottom: -99px;
    width: 200px;
    height: 201px;
    background-color: #da5858;
    color: var(--caption);
    display: flex;
    justify-content: center;
    align-items: center;
}

.required-docs ul li:nth-child(3):after{
    content: "Bank Statement";
    position: absolute;
    right: -200px;
    bottom: -48px;
    width: 200px;
    height: 201px;
    background-color: #da5858;
    color: var(--caption);
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-check{
    padding: 3em 2em;
    background-color: #4b4747;
    color: var(--caption);
}

.procedure{
    padding: 3em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.steps{
    color: #727272;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.steps.follow{
    display: flex;
    flex-direction: column;
}

.steps.follow h2{
    color: #da5858;
    margin-bottom: .5em;
}

.steps.follow p{
    font-weight: 600;
    margin-bottom: 1em;
}

.steps h2{
    color: #da5858;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.steps.one p,
.steps.two p,
.steps.three p{
    margin-left: 1em;
    position: relative;
    flex-grow: 1;
}

.steps.one p::after,
.steps.two p::after,
.steps.three p::after{
    content: "";
    position: absolute;
    background-color: #da5858;
    width: 10px;
    height: 30px;
    right: -20px;
    top: 0;
}

.testimonial-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.testimonials{
    text-align: center;
    margin: 3em auto;
    transition: .2s ease-in-out;
}

.testimonial:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1);
}

.testimonials h1{
    color: #da5858;
    font-size: clamp(1.2rem, 4vw, 3rem);
    margin-bottom: 1em;
}

.testimonial{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    /* margin: 0 1em; */
    background-color: #da5858;
    border-radius: 20px;
    color: var(--caption);
}

.image{
    width: 200px;
    height: 150px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: 1em;
    position: relative;
}

.testimonial img{
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
}

.testimonial h4{
    margin-bottom: 1em;
}

.testimonial p{
    text-align: center;
    padding: 0 0 2em 0;
}

.contact{
    margin-top: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h1{
    padding-top: .5em;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 3rem);
    text-transform: capitalize;
    color: #da5858;
    margin-bottom: 1em;
    position: relative;
}

.contact h1::before{
    content: "";
    background-color: #da5858;
    width: 200px;
    height: 3px;
    position: absolute;
    left: -220px;
    top: 50%;
}

.contact h1::after{
    content: "";
    background-color: #da5858;
    width: 200px;
    height: 3px;
    position: absolute;
    right: -220px;
    top: 50%;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.contact form input{
    border: none;
    outline: none;
    padding: .5em 1em;
    color: #727272;
    border-bottom: #cacaca 2px solid;
    width: clamp(300px, 75vw, 400px);
}

.contact form input::placeholder{
    color: #cacaca;
}

.contact form textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #cacaca;
    border-bottom-width: 2px;
    outline: none;
    padding: .5em 1em;
    color: #727272;
    width: clamp(300px, 75vw, 400px);
    margin-bottom: 1em;
}

.contact form textarea::placeholder{
    color: #cacaca;
}

.contact form input[type="submit"]{
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    font-weight: 700;
    color: var(--caption);
    background-color: #da5858;
    margin-top: 1em;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in;
}

.contact input[type="submit"]:hover{
    color: #df2a2a;
    background-color: var(--caption);
}

footer{
    width: 100%;
    height: fit-content;
    background-color: #4b4747;
    color: var(--caption);
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 3em;
    padding: 5em 2em;
}

.logo.bottom{
    width: 200px;
}

.logo.bottom img{
    width: 100%;
}

.branches h3{
    margin-bottom: 1em;
    color: #da5858;
}

.branches p{
    margin-bottom: .3em;
    font-size: clamp(.8rem, 2vw, 1rem);
}

@media screen and (max-width: 1024px){
    .introduction{
        display: flex;
        flex-direction: column;
        margin-bottom: 5em;
    }
    .blue-building{
        display: none;
    }
    .explainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5em;
        align-items: center;
        gap: 5em;
        position: relative;
        left: 0px;
        bottom: 0px;
        align-self: center;
    }
    
    .explainer p{
        color: var(--caption);
        background-color: #da5858;
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    }
    
    .explainer p:nth-child(1){
        background-image: none;
    }
    
    .explainer p:nth-child(1)::before{
        top: -50px;
    }
    
    .explainer p:nth-child(2){
        background-image: none;
    
    }
    
    .explainer p:nth-child(2)::before{
        top: -50px;
    
    }
    
    .explainer p:nth-child(3){
        background-image: none;
    
    }
    
    .explainer p:nth-child(3)::before{
        top: -50px;
    
    }
}


@media screen and (max-width: 768px){
    .slide{
        display: flex;
        width: 300px;
        max-height: 100svh;
    }
    
    .caption{
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    
    .caption h1{
        font-size: clamp(1.5rem, 4vw, 3rem);
        text-shadow: -2px 2px 3px black;
        margin-bottom: 1.5em;
    }
    
    .caption h4{
        font-size: clamp(.8rem, 4vw, 2rem);
        text-shadow: -3px 3px 3px black;
        margin-bottom: .5em;
    }
    
    .caption input{
        padding: 7px 12px;
        width: 100%;
        font-size: clamp(.9rem, 2vw, 1.2rem);
        margin-top: 2em;
    }
    
    .introduction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5em;
    }
    
    .blue-building{
        display: none;
    }
    
    .intro{
        flex: 0;
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1em;
        padding: 0 2em;
        position: relative;
    }
    
    .apply{
        border: none;
        border-radius: 10px;
        padding: .5em 1em;
        background-color: #da5858;
        color: var(--caption);
    }

    .apply:hover{
        background-color: var(--caption);
    }
    
    .fa-arrow-turn-up{
        color: var(--caption);
    }
    
    .apply:hover,
    .fa-arrow-turn-up:hover{
        color: #da5858;
    }
    
    .explainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5em;
        align-items: center;
        gap: 5em;
        position: relative;
        left: 0px;
        bottom: 0px;
        align-self: center;
    }
    
    .explainer p{
        color: var(--caption);
        background-color: #da5858;
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    }
    
    .explainer p:nth-child(1){
        background-image: none;
    }
    
    .explainer p:nth-child(1)::before{
        top: -50px;
    }
    
    .explainer p:nth-child(2){
        background-image: none;

    }
    
    .explainer p:nth-child(2)::before{
        top: -50px;

    }
    
    .explainer p:nth-child(3){
        background-image: none;

    }
    
    .explainer p:nth-child(3)::before{
        top: -50px;

    }
    
    .qualify{
        padding: 5em;
    }
    
    .qualification{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
    .qualify h1{
        padding-top: .5em;
        text-align: center;
        font-size: clamp(1.5rem, 4vw, 3rem);
        text-transform: capitalize;
        color: #727272;
        margin-bottom: 1em;
    }
    
    .explain{
        margin-top: 1em;
    }
    
    .explain::before{
        content: "";
        width: 2px;
        height: 50px;
        background-color: #727272;
        left: 0;
        top: 15px;
        position: absolute;
    }
    
    .explain::after{
        content: "";
        height: 2px;
        width: 50px;
        background-color: #727272;
        left: 0;
        top: 15px;
        position: absolute;
    }

    .documentation{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .required-docs{
        flex: 1;
        padding: 5em;
        color: #727272;
    }
    
    .required-docs ul li:nth-child(1):after{
        display: none;
    }
    
    .required-docs ul li:nth-child(2):after{
        display: none;
    }
    
    .required-docs ul li:nth-child(3):after{
        display: none;
    }
    
 
    .procedure{
        padding: 3em 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .steps{
        color: #727272;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    
    .steps.follow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .steps.follow p{
        text-align: center;
    }
    
    .steps.one p::after,
    .steps.two p::after,
    .steps.three p::after{
        background-color: transparent;
    }

    .testimonials{
        text-align: center;
        margin: 0em auto;
    }
    
    .testimonials h1{
        color: #da5858;
        font-size: clamp(1.2rem, 4vw, 3rem);
        margin-bottom: 1em;
    }
    
    .testimonial-container{
        flex-direction: column;
    }
    
    .testimonial{
        width: 200px;
        border-radius: 20px;
        color: var(--caption);
    }
    
    .image{
        width: 200px;
        height: 150px;
        border-radius: 10%;
        margin-bottom: 1em;
    }
    
    .testimonial img{
        top: -20px;
    }
    
    .contact{
        margin-top: 0em;
    }

    .contact h1{
        padding-top: 0em;
        margin-bottom: 2em;
    }
    
    .contact form input[type="submit"]{
        font-size: .9rem;
    }
    
    .contact input[type="submit"]:hover{
        color: #df2a2a;
        background-color: var(--caption);
    }

    .contact h1::before{
        left: -85px;
        width: 50px;
    }
    
    .contact h1::after{
        right: -85px;
        width: 50px;
     }
    

    footer{
        flex-direction: column;
        justify-content: start;
        padding: 5em 5em;
    }
}